
<div class="container">
    <h2>Basic Household Table</h2>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Update Quantity</th>
              </tr>
        </thead>
        
        <tbody>
              <tr *ngFor="let product of products ">
                <td>{{product.productID}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.productQuantity}}</td>
                <td>{{product.productPrice}}</td>
                <td><app-child [newProductID]="product.productID" 
                              [newProductQuantity]="product.productQuantity"
                              (valueChangeInput)="changeStockValue($event)">
                </app-child></td>
              </tr>
        </tbody>
       
        
      </table>
    </div>
  </div>
</div>
